.course-card {

        @keyframes scroll-left {
                from {
                        transform: translateX(100%);
                }

                to {
                        transform: translateX(-100%);
                }
        }

        margin: 10px;
        border-radius: 10px;
        max-width: 600px;
        background-color: #f5f5f5;
        color: #084B83;
        box-shadow: 3px 3px rgba($color: #000000, $alpha: 0.2);
        display: grid;
        grid-template: "a a a" 100px
        "b c c" 250px
        "d d d" 75px
        "e e e" auto/ 1fr 1fr 1fr;


        .title {
                border-radius: 10px 10px 0 0;
                display: flex;
                overflow: hidden;
                justify-content: left;
                column-gap: 1rem;
                align-items: center;
                width: 100%;
                text-align: left;
                font-size: 20px;
                line-height: 20px;
                font-family: Arial, Helvetica, sans-serif;
                background-color: #FFD275;
                color: black;
                border-bottom: #000000 solid 1px;
                grid-area: a;

                h2{
                        max-width: 100%;
                }
                .new-icon {
                        position: relative;
                        left: 20px;
                        top: -30px;
                }

                .enrollment-count {
                        overflow: scroll;
                }

                .course-name-wrapper {
                        overflow: hidden;
                        white-space: nowrap;
                        flex-grow: 1;
                        max-width: 70%;
                        min-width: 300px;
                }

                .course-name {
                        display: inline-block;
                        white-space: nowrap;
                }

                .scroll-title {
                        animation-name: scroll-left;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                }
        }

        @keyframes scroll-left {
                from {
                        transform: translateX(100%);
                }

                to {
                        transform: translateX(-100%);
                }
        }


        .course-info {
                grid-area: b;
                display: flex;
                flex-direction: column;
                justify-content: end;
                height: 80%;
                padding-left: 1rem;
                padding: auto;
                row-gap: 1rem;
                color: black;
                font-size: 25px;
                line-height: 25px;

                p {
                        margin: 0;
                        font-family: Arial, Helvetica, sans-serif;
                        border-bottom: #000000 dotted;
                }

                .icon {
                        margin-right: 1rem;
                }

        }

        .course-image {
                padding: 1rem;
                grid-area: c;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                        border: #084B83 3px;
                }

        }

        .buttons-container {
                grid-area: d;
                display: flex;
                flex-direction: row;
                justify-content: end;
                column-gap: 1rem;
                padding: 1rem;

                button {
                        background-color: #10162f;
                        color: #ffffff;
                        border-radius: 4px;
                }
        }

        .review-form {
                grid-area: e;
                display: flex;
                flex-direction: column;
                min-height: 100px;
                padding: 1em;

                textarea {
                        width: 100%;
                        max-width: 90%;
                        overflow: scroll;
                }
        }
}